{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1>{{ category.name }}</h1>
        <p>{{ category.description }}</p>
        <h2>Товары</h2>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="card mb-4">

                        <strong>{{ product.name }}</strong> - {{ product.price }} - {{ product.created_at }}
                        <p>{{ product.description }}</p>
                        <img src="{{ product.image }}" class="card-img-top w-100" alt="{{ product.name }}" class="img-fluid">

                    </div>
                 </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
